.countdown-timer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    .time-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        .time-amount {
            h1 {                
                color: white;
                font-size: 12px;
                margin: 0;
            }
        }
    }
}