<div class="launch-countdown-timer-container">
    <div class="background">
        <div class="image-container background-stars"></div>
        <div class="image-container background-hills"></div>
    </div>
    <div class="main-content-container">
        <div class="middle">
            <h1>WE'RE LAUNCHING SOON</h1>
            <app-countdown-timer></app-countdown-timer>
        </div>
        <div class="social-media-contact-container">
            <img src="../../../assets/launch-countdown-timer-assets/icon-facebook.svg" alt="logo">
            <img src="../../../assets/launch-countdown-timer-assets/icon-pinterest.svg" alt="logo">
            <img src="../../../assets/launch-countdown-timer-assets/icon-instagram.svg" alt="logo">
        </div>
    </div>
</div>

<app-home-floating-button></app-home-floating-button>